# Rasa-related
.rasa
models/

# Firebase-related
actions/*.json
actions/__pycache__

# Models
models/*.gz

# Temporary ignored rasa files (until understanding how to use env)
endpoints.yml
credentials.yml